.about-content{
    h2{
        text-align:center;
    }
}


.about-title{
    text-align:center;
    background-color:#ffff40;
   color:rgb(0, 60, 113);
}

.description, .course-goals, .evaluation{
    padding: 2%;
    text-align: justify;
    line-height: 1.5;
    color:rgb(0, 60, 113);
}

.course-goals{
    ul{
    list-style: square;
    padding:0px;
    }
}

.evaluation{
    text-align: center;
}

header h1{
    color:white;

}