footer{
    background-color:rgb(219, 215, 215);
   // background-color: #dbd7d7;

    width: 100%;
    height: auto;
    .student-info{
        width:100%;
        display:flex;
        flex-direction:column;
        align-items: center;
        align-content: center;
       

    }

}