.home-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;

}
 
body{
    background-color:white;
    display: flex;
    flex-direction: column;
    height: 100%;

    h1{
        color:rgb(0, 60, 113);
   
    }
    a{
        color:rgb(0, 60, 113);  
    }
}

.banner-wrapper{
    background-image: url(images/background.jpg);
    background-size: cover;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    h1{
        margin:0px;
        color:whitesmoke;
    }
}

.main-home{
    display: flex;

    .course-goals{
        display: flex;
        width: 70%;
        flex-direction: column;
        margin: auto;
    }
}

   
img{
    width:100%  !important;
    height:auto;
    
}