.lessons-wrapper {
  width: 90%;
  min-height: 500px;
  padding: 5% 2%;
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: #ffff40;
  justify-content: center;
  grid-column-gap: 0.2em;
  grid-row-gap: 0.2em;
  margin-bottom: 2em;
}
.lessons-wrapper .day-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  align-content: center;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.schedule-wrapper {
  width: 90%;
  padding: 5% 2%;
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: yellow;
  justify-content: center;
  grid-column-gap: 0.2em;
  grid-row-gap: 0.2em;
  margin-bottom: 2em;
}
.schedule-wrapper p {
  margin: 0px;
}

.day-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  align-content: flex-start;
}

.day {
  width: 100%;
  text-align: center;
  margin-top: 2%;
}

.planning {
  display: flex;
  width: 100%;
  margin-left: 5%;
}
.planning ul {
  padding: 0px;
  list-style: none;
}

body {
  background-color: #003c71;
}

.agenda {
  background-color: #003c71;
  margin: 5% 7% 5% 7%;
  padding: 5%;
  text-align: center;
}
.agenda h1 {
  color: #ffff40;
}
.agenda ul {
  list-style: none;
  margin: 0;
  padding: 0;
  color: whitesmoke;
}

.course {
  background-color: lightgray;
}

section {
  margin: 5% 7% 5% 7%;
  padding: 5%;
  background-color: #003c71;
}
section .section-title {
  color: #003c71;
  text-transform: capitalize;
}
section .section-title h2 {
  color: #ffff40;
}
section .section-content {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 5%;
}

.about-content {
  padding: 3%;
  margin: 2%;
}
.about-content h2 {
  text-align: center;
}

.about-wrapper {
  background-color: whitesmoke;
}

.about-title {
  text-align: center;
  background-color: #ffff40;
  color: #003c71;
  padding: 1%;
}

.description, .course-goals, .evaluation {
  padding: 2%;
  text-align: justify;
  line-height: 1.5;
  color: #003c71;
}

.course-goals ul {
  list-style: square;
  padding: 0px;
}

.evaluation {
  text-align: center;
}

header h1 {
  color: white;
}

.home-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
}
body h1 {
  color: #003c71;
}
body a {
  color: #003c71;
}

.banner-wrapper {
  background-image: url(/images/background.jpg);
  background-size: cover;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.banner-wrapper h1 {
  margin: 0px;
  color: whitesmoke;
}

.main-home {
  display: flex;
}
.main-home .course-goals {
  display: flex;
  width: 70%;
  flex-direction: column;
  margin: auto;
}

img {
  width: 100% !important;
  height: auto;
}

header {
  background-color: #003c71;
}

nav {
  display: flex;
  justify-content: flex-end;
}
nav ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline-flex;
}
nav ul li {
  margin-right: 1em;
}
nav ul li a {
  color: #fff400;
  text-decoration: none;
}
nav ul li a :hover {
  color: white;
}

.courses-nav {
  width: 80%;
}
.courses-nav ul {
  display: flex;
  list-style: none;
  width: 100%;
  padding: 0px;
  justify-content: space-between;
}

footer {
  background-color: #dbd7d7;
  width: 100%;
  height: auto;
}
footer .student-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.form-wrapper {
  margin: 2%;
  padding: 2%;
  width: 90%;
}

form {
  display: flex;
  flex-direction: column;
}
form fieldset {
  width: 66%;
}

.message-input-wrapper {
  display: flex;
  flex-direction: column;
}

.name-input-wrapper {
  display: flex;
  flex-direction: column;
}
.name-input-wrapper input {
  width: 70%;
}

.button-wrapper {
  margin: 2%;
  padding: 2%;
}

/*# sourceMappingURL=index.css.map */
