//stylesheets/lessons.scss
body{
    background-color: teal;
    


}
.agenda{
    background-color: blue; 
    margin:5% 7% 5% 7%;
    padding:5%;
    text-align: center;
    ul{
        list-style:none;
        margin: 0;
        padding: 0;
    }
}
.course{ 
    background-color: lightgray; 
    margin:5% 7% 5% 7%;
    padding:5%; 

}

section{
    margin:5% 7% 5% 7%;
    padding:5%;
    background-color: yellow;

.section-title{
  color: rgb(0, 60, 113);
  text-transform:capitalize;
}
.section-content{
   
    background-color: whitesmoke;
    padding:5%;
}
   
}
   