
main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.schedule-wrapper{
    width: 90%;
    padding: 5% 2%;
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4,1fr);
    background-color: yellow;
    justify-content: center;
    grid-column-gap: 0.2em;
    grid-row-gap: 0.2em;
    margin-bottom: 2em;

    p{
        margin:0px;
    }
}

.day-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    align-content: flex-start;

}
.day{
    width:100%;
    text-align: center;
    margin-top: 2%;
}

.planning{
    display: flex;
    width: 100%;
    margin-left: 5%;


    ul{
    padding:0px;
    list-style: none;
    }
}



